
.noDataMessage {
    text-align: center;
    color: #888;
    font-size: 18px;
    margin-top: 20px;
}

.searchBar {
    width: 90%;
    padding: 10px;
    margin: 0 auto 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    display: block;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.paginationButton {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.paginationButton:hover {
    background-color: #f0f0f0;
}

.activeButton {
    background-color: #28a745;
    color: white;
    border-color: #28a745;
}

.paymentData {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.paymentData:hover {
    background-color: #f9f9f9;
}

.basicData h2 {
    font-size: 20px;
    color: #28a745; 
}

.basicData h4 {
    font-size: 16px;
    color: #555;
}

.amountData p {
    font-size: 14px;
    color: #333;
}
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalHeader h2 {
    font-size: 18px;
    color: #28a745;
}

.closeButton {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.feesValueContainer {
    margin-top: 20px;
    text-align: center;
}

.imageProof {
    max-width: 100%;
    height: 500px;
    border-radius: 5px;
    margin-top: 10px;
}

.transactionData h1 {
    font-size: 22px;
    color: #28a745; 
}

.transactionData h4 {
    font-size: 16px;
    color: #555;
}

.transactionData h1, h4{
    margin: 0px;
}

.transactionData p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}