.validationContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}

.validationHeader {
    display: flex;
    background-color: white;
    color: var(--primary-color);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.paymentProofContainer {
    display: flex;
    flex-direction: column;
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    width: 50%;
}

.paymentProofSeparator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px;
}

.leftPaymentProof, .rightPaymentProof {
    flex: 1;
    max-width: 45%;
}

.leftPaymentProof h4, .rightPaymentProof h4 {
    margin-bottom: 15px;
}


.leftRightContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separator {
    background-color: var(--secondary-color);
    height: 3px;
    width: 100%;
    border: none;
}

h3, h4{
    color: var(--primary-color);
}

p {
    color: var(--text-color);
}

.paymentUploadContainer {
    display: flex;
    flex-direction: column;
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 10px;
    width: 50%;
}

.filePath {
    display: flex;
    background-color: var(--base-2-color);
    border: none;
    margin: 10px 10px 10px 0px;
    height: 30px;
    width: 100%;
}

.uploadContents {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 20px; 
    height: 100%;
    text-align: center; 
}

.placeholderBg {
    width: 500px;
    height: 400px;
}

.uploadButton {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: 150 ease;  
    width: 150px;
    height: 50px; 
}

.uploadButton:hover {
    background-color: var(--primary-color-2);
}

.submitButton {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: 150 ease;   
    width: 150px;
    height: 50px;
}

.submitButton:hover {
    background-color: var(--secondary-color-2);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px;
}